* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

.clear {
  clear: both;
}

.clearBot {
  clear: both;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  background: rgb(238, 238, 238);
}

.header-left, .header-right {
  float: left;
  height: 100%;
}

.header-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  border-right: 1px solid #e0e0e0;
}

.header-right {
  width: 70%;
}

.circle-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin: 0 30px;
  border-radius: 100%;
  overflow: hidden;
}

.circle-img img {
  height: 50px;
}

.header-left i {
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
  color: #4b4b4b;
}

.header-right .circle-img {
  float: left;
  margin: 7px 20px;
}

.header-right .name-lastaccess {
  float: left;
  margin-top: 10px;
}

.header-right .name-lastaccess span {
  display: block;
}

.header-right .name-lastaccess span:last-child {
  font-size: 13px;
  color: #898989;
  margin-top: 5px;
}

.header-right i {
  float: right;
  line-height: 60px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;
  color: #4b4b4b;;
}

/* MAIN */

.main {
  width: 100%;
  height: calc(100% - 60px);
}

.main-left, .main-right {
  float: left;
  height: 100%;
}

.main-left {
  width: 30%;
  border-right: 1px solid #e0e0e0;
}

.main-right {
  width: 70%;
  background: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-repeat: repeat;
  background-size: 400px;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #f7f7f7;
}

.nav input {
  width: 94%;
  height: 70%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
}

/* CONTACTS */

.contacts {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.contacts li {
  width: 100%;
  height: 70px;
  padding: 6px 0;
}

.contacts li .contacts-left, .contacts li .contacts-right {
  float: left;
  height: 70px;
}

.contacts li .contacts-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
}

.contacts li .contacts-left .circle-img {
  height: 50px;
  width: 50px;
  margin: 0;
}

.contacts li .contacts-left .circle-img img{
  height: 50px;
}

.contacts li .contacts-right {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 82%;
  border-bottom: 1px solid #e0e0e0;
}

.contacts li .contacts-right span:first-child {
  width: 100%;
  margin-bottom: 5px;
}

.contacts li .contacts-right span:last-child {
  color: #7a7a7a;
}

.contacts li .contacts-right span i {
  font-size: 13px;
  margin-right: 4px;
  color: #7a7a7a;
}

.contacts li .contacts-right .lastaccess {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 13px;
  color: #7a7a7a;
}

.main-right .main-up {
  margin: 0 auto;
  width: 83%;
  height: 92%;
  overflow: auto;
}

.main-right .main-down {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
  background: rgb(238, 238, 238);
}

.main-right .main-down i {
  font-size: 25px;
  color: #7a7a7a;
  cursor: pointer;
}

.main-right .main-down i:last-child {
  font-size: 20px;
  margin-right: 10px;
}

.main-right .main-down input {
  width: 87%;
  height: 70%;
  background-color: #fff;
  border-radius: 30px;
  border: 1px;
}

.message {
  position: relative;
  margin: 10px 0;
  padding: 7px;
  border-radius: 10px;
  max-width: 60%;
  min-width: 20%;
}

.message span:last-child {
  position: absolute;
  right: 7px;
  bottom: 5px;
  font-size: 10px;
  color: #B6B9BB;
}

.message.received {
  background: white;
}

.message.sent {
  background: #D5F9BA;
  float: right;
}

.template {
  display: none;
}
